<?xml version="1.0"?>

<launch>

    <group ns="amigo">

        <node name="ed_server_bridge" pkg="multirobot_communication" type="ed_server_bridge.py">
            <param name="ip" value="localhost" />
            <param name="port" value="3000" />
        </node>

        <node name="trigger_server" pkg="multirobot_communication" type="trigger_server.py" output="screen">
            <param name="ip" value="localhost" />
            <param name="port" value="4000" />
            <param name="robot_name" value="amigo" />
        </node>

        <node name="trigger_client" pkg="multirobot_communication" type="trigger_client.py" output="screen">
            <param name="ip" value="localhost" />
            <param name="port" value="4001" />
            <param name="remove_robot_name" value="x80sv" />
        </node>

    </group>

</launch>
